<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Error</title>
</head>
<body>
<div layout:fragment="content">
    <h1 class="mt-3">Something goes to hell</h1>
    <h2 class="mt-1">Save this message</h2>
    <div id="container">
        <div id="copyTarget">
            <p th:if="${exception != null}" th:text="${exception}"></p>
            <p th:if="${message != null}" th:text="${message}"></p>
        </div>
    </div>
    <button type="button" class="btn btn-info" onclick="copyDivToClipboard()">
        <i class="fa fa-clipboard" aria-hidden="true"></i> Copy info
    </button>
    <a type="button" class="btn btn-secondary" href="/" role="button">
        <i class="fa-solid fa-house"></i> To home
    </a>
</div>
</body>
</html>
