<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     th:fragment="header">
    <header class="p-3">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container-fluid">
                <!--                Brand-->
                <a class="navbar-brand" href="/">
                    <img src="/img/logo.png" width="32" height="32" alt="ProxyBroker"/>
                    ProxyBroker</a>
                <button class="navbar-toggler" type="button"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        data-bs-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--                brand end-->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/entrypoints">
                                <i class="fa-solid fa-arrows-to-dot"></i>
                                Entrypoints
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active " aria-current="page" href="/exitnode">
                                <i class="fa-solid fa-flask"></i>
                                Check exit-node
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink"
                               role="button" data-bs-toggle="dropdown" aria-expanded="false">Dicts & Refs</a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a class="dropdown-item" href="/dicts/anonymity">Anonymity Level</a></li>
                                <li><a class="dropdown-item" href="/dicts/countries">Countries</a></li>
<!--                                <li><a class="dropdown-item" href="#">Judges</a></li>-->
<!--                                <li><a class="dropdown-item" href="#">Providers</a></li>-->
                            </ul>
                        </li>

                    </ul>

                    <div class="text-end">
<!--                        <button type="button" class="btn btn-outline-light me-2">Profile</button>-->
                        <div class="container" sec:authorize="!isAuthenticated()">
                            <a href="/login" type="button" class="btn btn-warning">Login</a>
                        </div>
                        <div class="container" sec:authorize="isAuthenticated()">
                            <a href="/logout" type="button" class="btn btn-warning">Logout</a>
                        </div>

                    </div>
                </div>
            </div>
        </nav>
    </header>
</div>