<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>ProxyBroker</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Welcome!</h1>
    <div class="container-sm">
        <ul class="list-group">
            <li class="list-group-item" th:text="'Project name: ' + ${appAbout.getName()}"></li>
            <li class="list-group-item" th:text="'Project purpose: '+ ${appAbout.getDesc()}"></li>
            <li class="list-group-item" th:text="'Current version: '+ ${appAbout.getVersion()}"></li>
            <li class="list-group-item" th:text="'Build date: '+ ${appAbout.getBuildDate()}"></li>
            <li class="list-group-item">
                <span>Sources </span>
                <a th:href="${appAbout.getSourceUrl()}" th:text="location"></a>
            </li>
            <li class="list-group-item">
                <span>Docs </span>
                <a th:href="${appAbout.getDocsUrl()}" th:text="locatoin"></a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>