<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Edit entrypoint</title>
    <link rel="stylesheet" href="https://unpkg.com/@jarstone/dselect/dist/css/dselect.css">
    <script src="https://unpkg.com/@jarstone/dselect/dist/js/dselect.js"></script>
    <script type="text/javascript" src="/js/entrypoint_validate.js"></script>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3" th:text="'You are in editinig ' + ${entrypoint.getName()}"></h3>
    <form enctype="multipart/form-data" class="needs-validation" novalidate style="max-width: 50vw" method="POST"
          th:action="@{/entrypoints/edit}" th:object="${entrypointForm}">
        <input type="hidden" name="id"
               th:value="${entrypoint.getId()}">
        <input type="hidden" name="createdAt"
               th:value="${entrypoint.getCreatedAt()}">
        <div class="mt-3 row g-2">
            <div class="col-md">
                <!--name form-->
                <div class="form-floating">
                    <!--Название поля инпута должно строго соответствовать названию поля класса (DTO)-->
                    <input name="name" type="text" class="form-control" id="name" placeholder="Name"
                           th:value="${entrypoint.getName()}"
                           required>
                    <label for="name">Name</label>
                    <div class="invalid-feedback">Required</div>
                </div>
            </div>
            <div class="col-md">
                <!--port form-->
                <div class="form-floating">
                    <input name="port" type="number" class="form-control" id="port" placeholder="port"
                           th:value="${entrypoint.getPort()}"
                           required>
                    <label for="port">Port</label>
                    <div class="invalid-feedback">Required</div>
                </div>
            </div>
            <div class="col-md">
                <!--connectoin type form-->
                <div class="form-floating">
                    <select class="form-select" name="connectionType" id="connectionType"
                            th:object="${entrypoint}" th:field="*{connectionType}"
                            required>
                        <option selected value="default">Select one</option>
                        <!--TODO: make validation-->
                        <option th:each="connection : ${T(to.molehole.proxybroker.model.ConnectionType).values()}"
                                th:value="${connection}" th:text="${connection.getCode()}"></option>
                    </select>
                    <label for="connectionType">Connection Type</label>
                    <div class="invalid-feedback">Required</div>
                </div>
            </div>
        </div>

        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" name="anonymityLevel" id="anonymityLevel"
                            th:object="${entrypoint}" th:field="*{anonymityLevel}"
                            required>
                        <option selected value="default">Select one</option>
                        <!--TODO: make validation-->
                        <option th:each="anonymity : ${T(to.molehole.proxybroker.model.AnonymityLevel).values()}"
                                th:value="${anonymity}"
                                th:text="${anonymity.getCode()} + ' - ' + ${anonymity.getDisplayText()}">anonymity
                        </option>
                    </select>
                    <label for="anonymityLevel">Anonymity Level</label>
                    <div class="invalid-feedback">Required</div>
                </div>
            </div>

            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" name="selectionStrategy" id="selectionStrategy"
                            th:object="${entrypoint}" th:field="*{selectionStrategy}"
                            required>
                        <option selected value="default">Select one</option>
                        <!--TODO: make validation-->
                        <option th:each="strategy : ${T(to.molehole.proxybroker.model.ExitNodeSelectionStrategy).values()}"
                                th:value="${strategy}"
                                th:text="${strategy.getCode()} + ' - ' + ${strategy.getDisplayText()}">anonymity
                        </option>
                    </select>
                    <label for="selectionStrategy">Selection Strategy</label>
                    <div class="invalid-feedback">Required</div>
                </div>
            </div>
        </div>

        <div class="mt-3 row g-2">
            <div class="col-md">
                <p>Setup exit node countries</p>
                <div class="form-floating">
                    <select class="form-select" multiple
                            name="countryCodeSet" id="countryCodeSetPicker"
                            th:object="${entrypoint}" th:field="*{countryCodeSet}"
                            required>
                        <!--TODO: make validation-->
                        <option th:each="countryCode : ${T(com.neovisionaries.i18n.CountryCode).values()}"
                                th:value="${countryCode}"
                                th:text="${countryCode.getAlpha2()} + ' - ' + ${countryCode.getName()}"></option>
                    </select>
                    <script>
                        const config = {
                            search: true, // Toggle search feature. Default: false
                            clearable: true, // Clearable selection. Default: false
                        }
                        dselect(document.querySelector('#countryCodeSetPicker'), config)
                    </script>
                </div>
            </div>
        </div>

        <div class="mt-3 row g-2">
            <button type="submit" class="btn btn-primary" onclick="validateForm()">Update</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Backward</button>
        </div>
    </form>
</div>
</body>
</html>